<div class="container-fluid">
  <div *ngIf="!allKeysAdded; else generatePost" class="row text-center">
    <h3>Add keys to use the application</h3>
  </div>
  <ng-template #generatePost>
    <div class="row">
      <div *ngIf="errorMsg" class="error-msg p-3">{{ errorMsg }}</div>
      <div *ngIf="successMsg" class="success-msg p-3">{{ successMsg }}</div>
      <div class="col-12 col-md-3 order-md-1">
        <div class="row m-3" *ngIf="(sourceIds | keyvalue).length > 0">
          <div class="col-auto">
            <fieldset class="d-flex flex-column">
              <legend>Sources:</legend>
              <div
                class="d-flex flex-wrap gap-3 align-content-center justify-content-center"
              >
                <span
                  *ngFor="let src of sourceIds | keyvalue"
                  class="d-flex gap-1"
                >
                  <input
                    type="checkbox"
                    [id]="src.key"
                    [name]="src.key"
                    [checked]="src.value"
                    (click)="updateValue(src.key, src.value)"
                  />
                  <label [for]="src.key">{{ src.key }}</label>
                </span>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="row justify-content-center m-3">
          <div class="col-auto">
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="getSources()"
            >
              Get Sources <i class="bi bi-arrow-right-circle"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 order-md-2">
        <div
          *ngIf="
            (sourceIds | keyvalue).length > 0 && (sourceIds | hasTruthy);
            else noGeneration
          "
          class="row justify-content-center m-3"
        >
          <div class="col-auto">
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="loadPost()"
            >
              Generate Posts <i class="bi bi-arrow-right-circle"></i>
            </button>
          </div>
        </div>
        <ng-template #noGeneration>
          <div class="row text-center">
            <h3>Fetch & Select any source to proceed</h3>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>
</div>
