<div class="row">
  <div
    class="col mx-sm-5 mx-3 my-sm-2 my-2 px-2 px-sm-4 py-2 py-sm-3 list-post-skeleton-container d-flex"
    [ngClass]="
      newsList.length === 0
        ? 'flex-column justify-content-between'
        : 'flex-row flex-wrap gap-2 justify-content-evenly'
    "
  >
    <div
      *ngIf="newsList.length === 0; else listNewsArticles"
      class="skeleton w-100 h-100"
    ></div>
    <ng-template #listNewsArticles>
      <div
        *ngFor="let articleItem of newsList"
        class="col-lg-5 p-3 d-flex flex-column align-items-center gap-1 text-center"
      >
        <span class="border rounded p-2">
          {{ articleItem.title }} <br /><br />
          {{ articleItem.url }}
        </span>
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="postOnX(articleItem.title + '\n\n' + articleItem.url)"
          >
            Post
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
